
@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
<ul class="gigs voffset3">
    @foreach (var gig in Model.UpcommingGigs)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
            </div>
            <div class="details">
                <div class="artist container">
                    <span class="artist">@gig.Artist.Name</span>
                    @if (Model.ShowActions)
                    {
                        <a href="/api/Follows" class="js-toggle-following" data-followed-id="@gig.ArtistId">Follow?</a>
                    }
                </div>
                <span class="genre">@gig.Genre.Name</span>
                @if (Model.ShowActions)
                {
                    <button class="btn btn-default btn-sm pull-right js-toggle-attendance" data-gig-id="@gig.Id">Going?</button>
                }
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function onReady() {
            $('.js-toggle-attendance').click(function onAttendanceToggleClick(e) {
                var button = $(e.target)
                $.post('/api/attendances', { gigId: button.attr('data-gig-id') })
                .done(function onSuccess() {
                    button.removeClass('btn-default').addClass('btn-info').text("Going")
                })
                .fail(function onError(errorData) {
                    alert('Something failed.')
                })
            })

            $('.js-toggle-following').click(function onFollowingToggle(e) {
                e.preventDefault();
                var link = $(e.target);
                $.post('/api/follows', { followedId: link.attr('data-followed-id') })
                .done(function onSuccess(successData) {
                    link.text('Following')
                })
                .fail(function onError(errorData) {
                    alert('Something failed.')
                })
            });
        });
    </script>
}